* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 360px;
  margin: 2rem auto;
  height: 560px;
  /* overflow: hidden; */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}

.tag{
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background: tomato;
  padding: .5rem 2rem;
  border-radius: 20px;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.img {
  height: 250px;
  /* background-color: brown; */
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.img img {
  width: 100%;
}

.content {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.content h3{
    border-bottom: 1px solid #e5e5e5;
}

.content h1{
    margin: 1rem 0;
}

.content p{
    color: #9f9f9f;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
  height: 60px;
}

.ft-l {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.ft-l img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ft-l p {
  margin-left: .5rem;
}

.ft-r {
  padding-right: 1rem;
}